{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>양일고등학교 지도</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'images/yangil logo.png' %}" alt="양일고등학교">
            </a>            
            <nav>
                <ul>
                    <li><a href="{% url 'maps' %}">지도</a></li>
                    <li><a href="{% url 'teachers' %}">선생님 프로필</a></li>
                    <li><a href="{% url 'science' %}">과학 중점 학교</a></li>
                    <li><a href="{% url 'trans_edu' %}">전환 교육 시설</a></li>
                    <li><a href="{% url 'login' %}">로그인</a></li>
                    
                </ul>
            </nav>
        </header>
        <hr>

        <main>
            <div class="intro-container">
                <h1>전환 교육 시설</h1>
        
                <section class="section">
                    <h2>양일고등학교의 전환교육 시스템</h2>
                    <p>전환교육이란 학교에서 사회로 나가는 과정에서 성인으로 역할을 적절히 수행해 나갈 수 있도록 취업, 중등 이후의 교육에 참여, 가정생활 참여, 지역사회의 적절한 참여, 만족스러운 대인적·사회적 관계 경험을 포함하는 성과 지향적 활동이다.</p>
                </section>
            </div>
        </main>
        
        <footer>
            <p>2024 프로젝트 봉사활동</p>
        </footer>
    </body>
</html>