{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>양일고등학교 지도</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'root/header.html' %}
        <hr>

        <main>
            <div class="intro-container">
                <h1>전환 교육</h1>
        
                <section class="section">
                    <h2>양일고등학교의 전환교육 시스템</h2>
                    <p>양일고등학교는 전환교육 시설을 갖추고 있습니다. 여기서 전환교육이란, 2004년에 개정된 장애인 교육법(IDEIA) 에는 16세 때부터 전환교육계획을 세워 의무적으로 교육하도록 하고 있습니다. 전환교육은 학교생활에서 사회생활로 옮아가는 학생들의 학습활동을 촉진시키기 위해 전환 교육 학생이 미래에 성취 해야하는 교육결과를 촛점으로 계획하여 교육하는 것으로 장애인 서비스 기관 간의 협력체제를 수립해야 하고 대학교육, 직업교육, 취업 (지원고용 포함), 평생교육, 성인서비스, 자립생활, 지역사회활동에 참여를 고등학교를 졸업하기 전에 계획하도록 하는 것입니다. 양일고등학교의 전환교육 시설에서는 e스포츠 분야에서 여러 상을 타는 등의 성과를 보이기도 하였습니다.</p>
                </section>


                <h1>보건 시설</h1>

                <section class="section">
                    <h2>양일고등학교의 보건 시스템</h2>
                    <p>학교 보건실은 학생들을 위한 보건서비스와 환경관리 및 보건교육을 제공하며 각자의 건강문제를 해결할 수 있는 신체적, 정신적, 사회적 기능 수준을 향상시켜 건강한 생활을 할 수 있도록 도와주는 역할을 합니다. 우리 학교의 보건실은 본관 1층에 위치하여 있습니다. 또한 보건 선생님이 되기 위해서는 4년제 대학 및 간호 전문대학교에서 교직 학점을 취득하고 간호사 국가고시 합격에서 끝나는 것이 아닌 이후 보건교사 2급 자격을 취득하여 한국사 능력검정 인증시험에 합격하고, 교원임용시험에 합격하고 나서야 보건교사로 근무 할 수 있는 분들이기 때문에 믿고 보건실을 방문 하셔도 됩니다. (사립 학교에서도 위의 내용만큼은 아니더라도 그만한 경력과 실력을 바탕으로 뽑기 때문에 안심하셔도 됩니다.)</p>
                </section>
            </div>
        </main>
    </body>
</html>