{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>양일고등학교 지도</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'root/header.html' %}
        <hr>

        <main>
            <h1>선생님 검색</h1>
            <input type="text" id="search" placeholder="원하는 선생님을 입력하세요." onkeypress="if(event.key === 'Enter') searchTeachers()">
            <button id="searchButton" onclick="searchTeachers()">검색</button>

            <div class="teachers-container" id="teachers-container">
                {% for teacher in teacherlist %}
                    <!-- <div class="card">
                        <img src="{% if teacher.profile_img %}{{ teacher.profile_img.url }}{% else %}{% static 'images/teachers/default.jpg' %}{% endif %}" alt="{{ teacher.name }} 선생님 사진">
                        <div class="card-info">
                            <h3>{{ teacher.name }}</h3>
                            <p>{{ teacher.subject }} 선생님</p>
                            <p>위치: {{ teacher.location }}</p>
                            <p>자기 소개: {{ teacher.introduce }}</p>
                        </div>
                    </div> -->
                {% endfor %}
            </div>
        </main>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>