{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>양일고등학교 지도</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'images/yangil logo.png' %}" alt="양일고등학교">
            </a>            
            <nav>
                <ul>
                    <li><a href="{% url 'maps' %}">지도</a></li>
                    <li><a href="{% url 'teachers' %}">선생님 프로필</a></li>
                    <li><a href="{% url 'science' %}">과학 중점 학교</a></li>
                    <li><a href="{% url 'maps' %}">전환 교육 시설</a></li>
                    <li><a href="{% url 'login' %}">로그인</a></li>
                    
                </ul>
            </nav>
        </header>
        <hr>

        <main>
            <h1>선생님 검색</h1>
            <input type="text" id="search" placeholder="원하는 선생님을 입력하세요." onkeypress="search(event)">
            <button id="searchButton">검색</button>


            <div class="teachers-container">
                <div class="card">
                    <img src="{% static 'images/teachers/default.jpg' %}" alt="Person 1">
                    <div class="card-info">
                        <h3>한기홍</h3>
                        <p>협곡 선생님</p>
                        <p>위치: 본교무실</p>
                        <p>자기 소개: 개씹존나싸가지 없는 한기홍입니다.</p>
                    </div>
                </div>  
                <div class="card">
                    <img src="{% static 'images/teachers/default.jpg' %}" alt="Person 1">
                    <div class="card-info">
                        <h3>한기홍</h3>
                        <p>협곡 선생님</p>
                        <p>위치: 본교무실</p>
                        <p>자기 소개: 개씹존나싸가지 없는 한기홍입니다.</p>
                    </div>
                </div>  
                <div class="card">
                    <img src="{% static 'images/teachers/default.jpg' %}" alt="Person 1">
                    <div class="card-info">
                        <h3>한기홍</h3>
                        <p>협곡 선생님</p>
                        <p>위치: 본교무실</p>
                        <p>자기 소개: 개씹존나싸가지 없는 한기홍입니다.</p>
                    </div>
                </div>  
                <div class="card">
                    <img src="{% static 'images/teachers/default.jpg' %}" alt="Person 1">
                    <div class="card-info">
                        <h3>한기홍</h3>
                        <p>협곡 선생님</p>
                        <p>위치: 본교무실</p>
                        <p>자기 소개: 개씹존나싸가지 없는 한기홍입니다.</p>
                    </div>
                </div>           
            </div>
        </main>
        <footer>
            <p>2024 프로젝트 봉사활동</p>
        </footer>
    </body>
</html>