{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>프로필 수정</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'root/header.html' %}
    <hr>


    <div class="signup-container">
        <h2>프로필 수정</h2>
        <div class="update_email">
            <span class="email-label">이메일: </span>
            <p>{{ user.email }}</p>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">저장</button>
        </form>
        
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">로그아웃</button>
        </form>
        {% if form.errors %}
            <ul id="form-errors" class="profile-update-error-list">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}    
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
</body>
</html>
