{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>양일고등학교 지도</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#id_email').on('blur', function() {
                var email = $(this).val();
                if (email) {
                    $.ajax({
                        url: '{% url "accounts:check_email" %}',
                        data: {
                            'email': email
                        },
                        dataType: 'json',
                        success: function(data) {
                            if (data.is_taken) {
                                $('#email-error').text('이 이메일은 이미 사용중입니다.');
                            } else {
                                $('#email-error').text('');
                            }
                        }
                    });
                }
            });
        });
        </script>
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'images/yangil logo.png' %}" alt="양일고등학교">
            </a>            
            <nav>
                <ul>
                    <li><a href="{% url 'science' %}">과학 중점 학교</a></li>
                    <li><a href="{% url 'trans_edu' %}">전환 교육 시설</a></li>
                    <li><a href="{% url 'maps' %}">지도</a></li>
                </ul>
            </nav>
        </header>
        <hr>

        <main>
            <div class="signup-container">
                <h2>회원가입</h2>
                <form action="{% url 'accounts:signup' %}" method="POST">
                    {% csrf_token %}
                    <!-- <label for="email">이메일(학교에서 받은 Email을 사용해주세요.)</label>
                    <div class="email-input-container">
                        <input type="email" id="email" name="email" required>
                        <button type="button" id="check_Email" required>이메일 확인</button>
                    </div>
                    
                    <label for="class_num">학번</label>
                    <input type="text" id="class_num" name="class_num" placeholder="ex)20323" required>
                    
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" placeholder="ex)최연수" required>
    
                    <label for="password1">비밀번호</label>
                    <input type="password" id="password" name="password" required>
                    
                    <label for="password2">비밀번호 확인</label>
                    <input type="password" id="check_password" name="check_password" required> -->
                    {{ form.as_p }}
    
                    <button type="submit" id="signup_button">가입하기</button>
                </form>
                <p>이미 계정이 있으신가요? <a href="{% url 'accounts:login' %}">로그인</a></p>
            </div>
        </main>
    </body>
</html>
