{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>양일고등학교 지도</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'images/yangil logo.png' %}" alt="양일고등학교">
            </a>            
            <nav>
                <ul>
                    <li><a href="{% url 'maps' %}">지도</a></li>
                    <li><a href="{% url 'teachers' %}">선생님 프로필</a></li>
                    <li><a href="{% url 'science' %}">과학 중점 학교</a></li>
                    <li><a href="{% url 'trans_edu' %}">전환 교육 시설</a></li>
                    <li><a href="{% url 'login' %}">로그인</a></li>
                    
                </ul>
            </nav>
        </header>
        <hr>

        <main>
            <div class="intro-container">
                <h1>과학 과제 연구 소개</h1>
        
                <div class="intro-content">
                    <h2>1. 과학중점학교 운영 취지</h2>
                    <div class="sub-section">
                        <h3>가. 미래 사회 발전을 선도할 우수 인재 양성의 기반 마련</h3>
                        <p>일반계 고등학교 학생의 과학·수학 소양 및 이해 증진</p>
                        <p>심화된 과학·수학 지식과 인문·예술적 소양을 겸비한 인재 양성</p>
                        <p>다양한 체험활동과 프로그램을 통해 일반계 고등학교의 과학·수학 교육 선진화 모델 제시</p>
                    </div>
                </div>
            </div>
        </main>
        
        <footer>
            <p>2024 프로젝트 봉사활동</p>
        </footer>
    </body>
</html>