{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>양일고등학교 지도</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'root/header.html' %}
        <hr>

        <main>
            <div class="intro-container">
                <h1>과학 중점 학교</h1>
                <hr>

                <section class="section">
                    <h2>1. 과학 중점 학교란?</h2>
                    <p>일반계 고등학교의 한 형태입니다. 과학, 수학 소양 및 이해 증진을 목표로 하며, 다양한 체험활동과 프로그램을 해볼 수 있는 것이 특징입니다. 현재 양일 고등학교에서는 자연계 학생이면 모두 과학중점 과정을 듣고 있습니다.</p>
                </section>

                <section class="section">
                    <h2>2. 과학 중점 과정</h2>
                    <p><strong>2학년 1,2학기:</strong> 수학 : 기하 / 진로 선택과목 : 과학 과제 연구 / 교양 과목 : 과학 융합 / 탐구 과목 : 물I, 화I, 지I, 생I 전부 선택</p>
                    <p><strong>3학년 1,2학기:</strong> 수학 : 확률과 통계, 미적분 전부 선택 / 선택과목 : 고급물리학, 프로그래밍, 물II, 화II, 지II, 생II 중 과학II 과목 3개 포함 택 4</p>
                </section>

                <section class="section">
                    <h2>3. 과학 중점 학교의 장단점</h2>
                    <div class="sub-section">
                        <h3>3-1. 장점</h3>
                        <p>자연계 계열에 속하는 학과로 대학에 진학하기를 희망하는 경우 문과나 일반적인 자연계 학생들과 달리 과학 심화과정을 통한 생활기록부의 이점을 가질 수 있습니다.</p>
                        <p>최소 7개의 과학 탐구 과목을 이수하면서 수능에 들고 갈 과목을 정할 수 있습니다.</p>
                    </div>
                    <div class="sub-section">
                        <h3>3-2. 단점</h3>
                        <p>3학년에 들을 과학II 과목들은 수행평가가 전부인 반면에 2학년에 이수할 과학I 과목들은 등급제로 진행되어 자신이 선호하는 과목뿐만 아니라 다른 과목들도 잘 해야 한다는 부담감이 있습니다.</p>
                        <p>1학년 때 전교권에 들었던 대부분의 학생들이 과학중점과정을 듣게 되면서 좋은 등급을 받기 어려울 수 있습니다.</p>
                        <p>과학 중점 과정을 이수한다면 과학 탐구에 시간과 노력이 더욱 들어갑니다.</p>
                    </div>
                </section>
                <section>
                    <div class="sub-section">
                        <h2>4. 담당 선생님 인터뷰</h2>
                        <h3>서환주 선생님 인터뷰</h3>
                        <p>"먼저 과학 탐구 능력을 갖추었으면 좋겠습니다. 과학의 심화 내용을 다루기 때문입니다. 그렇지만 가장 중요한 것은 끈기와 노력입니다. 과학 과제 연구는 한 학기 내내 진행됩니다. 긴 시간의 탐구를 해내야 좋은 결과물이 있습니다."</p>
                    
                        <h3>조경호 선생님 인터뷰</h3>
                        <p>"대부분의 경기 지역의 학교들이 과학 중점 과정을 폐지하고 있습니다. 양일고의 이공계 학생들은 이 점에서 이점을 가질 것으로 보입니다. 하지만 과학 과제 연구가 진행됨에 따라 공부의 시간이 부족해질 수 있어, 학력 저하도 고려해 본 뒤에 과학 중점 과정을 고르시길 바랍니다."</p>
                    </div>
                </section>
            </div>
        </main>
        
    </body>
</html>