{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>양일고등학교 지도</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'images/yangil logo.png' %}" alt="양일고등학교">
            </a>            
            <nav>
                <ul>
                    <li><a href="{% url 'maps' %}">지도</a></li>
                    <li><a href="{% url 'teachers' %}">선생님 프로필</a></li>
                    <li><a href="{% url 'science' %}">과학 중점 학교</a></li>
                    <li><a href="{% url 'trans_edu' %}">전환 교육 시설</a></li>
                    <li><a href="{% url 'login' %}">로그인</a></li>
                    
                </ul>
            </nav>
        </header>
        <hr>

        <main>
            <div class="main-container">
                <div class="widget">
                    <h2>웹사이트 소개</h2>
                    <p>개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.</p>
                </div>
                <div class="widget">
                    <h2>제작 계기</h2>
                    <p>개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.개씹존나싸가지 없는 한기홍입니다.</p>
                </div>
                <div class="widget">
                    <h2>학교 공식 홈페이지 바로가기</h2>
                    <a href="https://yangil-h.goeyp.kr/" target="_blank">양일고등학교 공식 홈페이지</a>
                    <a href="https://yangil-h.goeyp.kr/yangil-h/na/ntt/selectNttList.do?mi=788&bbsId=452" target="_blank">공지 사항</a>
                    <a href="https://yangil-h.goeyp.kr/yangil-h/na/ntt/selectNttList.do?mi=789&bbsId=453" target="_blank">가정통신문</a>
                    <a href="https://yangil-h.goeyp.kr/yangil-h/ps/schdul/selectSchdulMainList.do?mi=796" target="_blank">학사 일정</a>
                    <a href="https://yangil-h.goeyp.kr/yangil-h/na/ntt/selectNttList.do?mi=794&bbsId=457" target="_blank">학교 앨범</a>
                    <a href="https://yangil-h.goeyp.kr/yangil-h/cm/cntnts/cntntsView.do?mi=4050&cntntsId=943" target="_blank">대학 합격 현황</a>
                </div>
            </div>
        </main>
        <footer>
            <p>2024 프로젝트 봉사활동</p>
        </footer>
    </body>
</html>