{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>양일고등학교 지도</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'images/yangil logo.png' %}" alt="양일고등학교">
            </a>            
            <nav>
                <ul>
                    <li><a href="{% url 'maps' %}">지도</a></li>
                    <li><a href="{% url 'science' %}">과학 중점 학교</a></li>
                    <li><a href="{% url 'trans_edu' %}">전환 교육 시설</a></li>
                </ul>
            </nav>
        </header>
        <hr>

        <main>
            <div class="login-container">
                <h2>로그인</h2>
                <form method="POST">
                    {% csrf_token %}
                    <!-- <label for="email">아이디</label>
                    <input type="text" id="email" name="email" placeholder="학교에서 받은 Email 혹은 학번을 입력해주세요." required>
                    
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="" required> -->
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="submit" id="login_button">로그인</button>
                    {% if form.errors %}
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </form>
                <p>아직 계정이 없으신가요? <a href="{% url 'accounts:signup' %}">회원가입</a></p>

            </div>
        </main>
    </body>
</html>
